h2.question {
  color: white;
  font-size: 5vh;
}

div.container {
  text-align: center;
  margin-top: 33vh;
}

.mat-raised-button {
  font-size: 5vh;
  margin: 7vh 10vw 0 10vw;
  height: 20vh;
  width: 40vh;
}